h1 {
	font-size: 3em;
	text-align:center;
}

h2{
	font-size: 2em;
	font-style: italic;
	text-align:center;
}

h3{
	font-size: 1.5em;
	font-wight:bold;
	text-align:center;
}

.cat-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

header {
	display:block;
	width:100%;
	margin:10px;
}

.cat-game {
	width:50%;
	float:left;
	
}

.hidden{
	display:none;
}

.cat-counter {
	text-align: center;
	font-weight:bold;
}

.cat-list-style{
	list-style-type:none;
	text-align:center;

}

ul#list-of-cats li{
	display:inline;
	border-radius: 5px;
	padding:5px;
	border: 1px solid blue;
	color: white;
	background-color: blue;
	margin: 5px;
}

footer{
	text-align:center;
}